@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,400;0,500;0,600;0,700;1,400&display=swap');

*{
   font-family: 'Source Code Pro', 'Poppins', sans-serif;
   margin:0; 
   padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

.container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
}

.container .content{
   text-align: center;
}

.container .content h3{
   font-size: 30px;
   color:#333;
}

.container .content h3 span{
   background: crimson;
   color:#fff;
   border-radius: 5px;
   padding:0 15px;
}

.container .content h1{
   font-size: 50px;
   color:#333;
}

.container .content h1 span{
   color:crimson;
}

.container .content p{
   font-size: 25px;
   margin-bottom: 20px;
}

.container .content .btn{
   display: inline-block;
   padding:10px 30px;
   font-size: 20px;
   background: #333;
   color:#fff;
   margin:0 5px;
   text-transform: capitalize;
}

.container .content .btn:hover{
   background: crimson;
}

.form-container{
   min-height: 100vh;
   display: flex;
   /* display: flexbox; */
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("fondotec.jpg");
   background-color: darkgray;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-repeat: no-repeat;
}

.form-container form{
   padding:20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   background: #fff;
   opacity: 0.7;
   text-align: center;
   width: 500px;
   margin-bottom: 50px;
}

/*login_form start*/
.footer-bottom {
   width: auto;
   height: auto;
   text-align: center;
   padding: 10px;
   padding-bottom: 30px;
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
}

.footer-bottom p {
   color: whitesmoke;
   font-size: 14px;
   letter-spacing: 1px;
   text-transform: uppercase;
   transition: .5s;
}

.footer-bottom p a {
   color: whitesmoke;
   text-decoration: none;
}

.footer-bottom p:hover {
   transform: scale(1.02);
}
/*login_form finish*/

.form-container form h3{
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color:#333;
}

.form-container form input,
.form-container form select{
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: #eee;
   border-radius: 5px;
   transition: 0.5s;
}

.form-container form input:hover {
   transform: scale(1.03);
}

.form-container form select option{
   background: #fff;
}

.form-container form .form-btn{
   background: rgba(40, 83, 156, 255);
   color: black;
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
   transition: 0.5s;
}

.form-container form .form-btn:hover{
   background: darkblue;
   color:#fff;
   transform: scale(1.03);
}

.form-container form p{
   margin-top: 10px;
   font-size: 20px;
   color:#333;
}

.form-container form p a{
   color:crimson;
}

.form-container form .error-msg{
   margin:10px 0;
   display: block;
   background: crimson;
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
}
